/output/build
/output/host
/output/staging
/output/target
/.auto.deps
/.config.cmd
/.config.old
/..config.tmp
/.config
*.depend
*.o
/*.patch
/*.diff
*.orig
*.rej
*~
*.pyc
/dl
#/arch
#/board
#/boot
#/build
#/configs
#/docs
#/fs
#/linux
#/Makefile
#/Makefile.legacy
#/package
#/support
#/system
#/toolchain
/utils
#.br-external.mk
#.defconfig
#.flake8
#.gitignore
#.gitlab-ci.yml
#.gitlab-ci.yml.in
#CHANGES
#COPYING
#Config.in
#Config.in.legacy
#DEVELOPERS
#README
#README.md

